/* Estilos personalizados */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Banner principal */
.jumbotron {
    padding: 100px 0;
}

.jumbotron .btn {
    font-size: 1.25rem;
}

/* Seção de apostas */
#apostas {
    padding: 50px 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #1c1c1c;
}
